.item-detail {
    width: 70%;
    display: flex;
    background-color: rgba(61, 61, 61, 0.548);
    box-shadow: 20px 20px 60px rgba(0, 0, 0, 0.5);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(3px);
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    min-height: 30vh;
}

.item-detail img {
    width: 30%;
    height: 30%;
    align-self: center;
}

.container {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.item-detail-div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item-detail-div h3 {
    font-family: "Bebas Neue";
    color: white;
    font-size: 70px;
    margin: 10px;
}

.item-detail-price {
    font-size: 50px;
    color: white;
    margin: 0px;
    font-family: "Bebas Neue";
}

.item-detail-txt {
    width: 80%;
    font-family:"Roboto", sans-serif;
    color: white;
    text-align: center;
    align-items: center;
    font-size: 22px;
}

.item-detail-unidades {
    width: 35%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item-detail-unidades p {
    font-family:"Roboto", sans-serif;
    color: white;
    font-size: 30px;
}

.addPedido {
    background: none;
    border: none;
    width: 200px;
    height: 60px;
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: white;
    font-family:"Roboto", sans-serif;
    align-items: center;
    border-radius: 30px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0);
    transition: 0.3s;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    cursor: pointer;
}

ul {
    display: flex;
    width: 50%;
    justify-content: space-between;
    list-style: none;
    text-decoration: none;
}

.addPedido:hover {
    transform: scale(1.05);
}