.navbar {
    background-color: #630000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Bebas Neue", cursive;
    height: 15vh;
}

.navbar-container {
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-container-title {
    width: 30%;
    font-size: 75px;
    color: white;
}

.navbar-container-components {
    width: 50%;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.navbar-container-components a {
    color: white;
    font-size: 30px;
    text-decoration: none;
}

